<div class="internet-bankings">
    <div class="internet-banking">
        <div class="login" style="display: none;">
            <h2 class="internet-banking__header">INTERNET BANKING</h2>
            <button class="internet-banking__btn internet-banking__btn_login">LOGIN</button>
        </div>
        <div class="authorization enter-pass" style="display: none;">
            <h2 class="internet-banking__header">Enter You ID and password</h2>
            <button class="authorization__close">close</button>
            <input class="authorization__input authorization__login" type="text" placeholder="Login">
            <input class="authorization__input authorization__password" type="password" placeholder="Password">
        </div>
        <div class="authorization enterPin" style="display: none;">
            <h2 class="internet-banking__header">Enter You Pin</h2>
            <button class="authorization__close">close</button>
            <input class="authorization__input authorization__login" type="text" placeholder="Enter you PIn">

        </div>
        <div class="authorization authorizationError">
            <h2 class="internet-banking__header">Error</h2>
            <button class="authorization__close">close</button>
            <span class="authorization__error_text">
                Login need Client ID + Password + PIN. If you are sure you are typing everithing right please contact
                support.
            </span>
        </div>
        <div class="authorization authorizationWelcome">
            <h2 class="internet-banking__header">Welcome <span class="userName">User</span></h2>
            <button class="authorization__close">log out</button>
            <span class="authorization__error_text">
                <a href="#">Go to your personal account</a>
            </span>
        </div>
    </div>
    <div class="authorization-block-btn" style="display: none;">
        <button class="authorization-block__btn authorization-block__btn-enter">Enter</button>
    </div>
</div>