<footer class="footer">
        <div class="footer-block">
            <div class="footer-block-left">
                <span class="footer-block-left__text">©2019 EuroDeniz IBU. All rights reserved.</span>
                <div class="footer-block-link">
                    <a class="footer-block__link footer-block__link_1" target="_blank" title="FaceBook" href="https://www.facebook.com/eurodeniz"></a>
                    <a class="footer-block__link footer-block__link_3" target="_blank" title="linkedIn" href="https://www.linkedin.com/company/euro-deniz-ibu"></a>
                    <a class="footer-block__link footer-block__link_4" target="_blank" title="Telegram" href="tg://resolve?domain=EuroDenizManager"></a>
                    <a class="footer-block__link footer-block__link_5" target="_blank" title="WhatsApp" href="https://wa.me/35796056338?text=EuroDenizIBU.%20Hello."></a>
                    <a class="footer-block__link footer-block__link_6" target="_blank" title="Signal" href="signal://35796056338?text=Hello%2C%20Test"></a>
                </div>
            </div>
            
            <div class="footer-block-right">
                <span class="footer-block-right__text">
                    Call the Contact Center
                </span>
                <a class="footer-block-right__link" href="tel:+35796056338">+357 96 056 338</a>
            </div>
            <div class="footer-block-center">
                <div class="footer-block-center-img">
                    <a href="https://www.gopai.com/" target ="_blank">
                        <img class="footer-img_margin" img src="img/Payment aliance.png" alt="">
                    </a>
                    <a href="https://www.americanexpress.com/us/help/make-a-payment.html" target ="_blank">
                        <img class="footer-img_margin" src="img/AmericanExpress.png" alt="">
                    </a>
                    <a href="https://www.payscale.com/research/US/Employer=Blackrock%2C_Inc./Salary" target ="_blank">
                        <img class="footer-img_margin" src="img/Blackrock.png" alt="">
                    </a>
                    <a href="https://coingate.com/accept/eth/ethereum" target ="_blank">
                        <img class="footer-img_margin" src="img/Ethereum.png" alt="">
                    </a>
                    <a href="https://fidelitypayment.co.uk/" target ="_blank">
                        <img class="footer-img_margin" src="img/Fidelity.png" alt="">
                    </a>
                    <a href="https://www.franklintempletonindia.com/" alt="">
                        <img class="footer-img_margin" src="img/Franklin.png" alt="">
                    </a>
                    <a href="https://www.swift.com/" target ="_blank">
                        <img class="footer-img_margin" src="img/logo-swift.png" alt="">
                    </a>
                    <a href="https://www.mastercard.us/en-us.html" target ="_blank">
                        <img class="footer-img_margin" src="img/Mastercard.png" alt="">
                    </a>
                    <a href="http://global.moneygram.com/" target ="_blank">
                        <img class="footer-img_margin" src="img/MoneyGram.png" alt="">
                    </a>
                    <a href="https://tether.to/" target ="_blank">
                        <img class="footer-img_margin" src="img/tether.png" alt="">
                    </a>
                    <a href="https://usa.visa.com/" target ="_blank">
                        <img class="footer-img_margin" src="img/Visa.png" alt="">
                    </a>
                    <a href="https://www.westernunion.com/us/en/home.html" target ="_blank">
                        <img class="footer-img_margin" src="img/WesternUnion.png" alt="">
                    </a>
                </div>
            </div>
        </div>
</footer>