<footer class="footer">
        <div class="footer-block">
            <div class="footer-block-left">
                <span class="footer-block-left__text">©2019 DenizBank IBU. All rights reserved.</span>
                <div class="footer-block-link">
                    <a class="footer-block__link footer-block__link_1" target="_blank" href="https://www.facebook.com/eurodeniz"></a>
                    <a class="footer-block__link footer-block__link_2" target="_blank" href="#"></a>
                    <a class="footer-block__link footer-block__link_3" target="_blank" href="https://www.linkedin.com/company/euro-deniz-ibu"></a>
                </div>
            </div>
            <div class="footer-block-right">
                <span class="footer-block-right__text">
                    Call the Contact Center
                </span>
                <a class="footer-block-right__link" href="tel:+35722503156">+357 22 503 156</a>
            </div>
        </div>
    </footer>