<footer class="footer">
        <div class="footer-block">
            <div class="footer-block-left">
                <span class="footer-block-left__text">©2019 EuroDeniz IBU. All rights reserved.</span>
                <div class="footer-block-link">
                    <a class="footer-block__link footer-block__link_1" target="_blank" href="https://www.facebook.com/eurodeniz"></a>
                    <a class="footer-block__link footer-block__link_3" target="_blank" href="https://www.linkedin.com/company/euro-deniz-ibu"></a>
                    <a class="footer-block__link footer-block__link_4" target="_blank" href="tg://resolve?domain=EuroDenizManager"></a>
                    <a class="footer-block__link footer-block__link_5" target="_blank" href="https://wa.me/35796056338?text=EuroDenizIBU.%20Hello."></a>
                    <a class="footer-block__link footer-block__link_6" target="_blank" title="Signal" href="+35796056338"></a>
                </div>
            </div>
            <!-- <div class="footer-block-right">
                <span class="footer-block-right__text">
                    Call the Contact Center
                </span>
                <!-- <a class="footer-block-right__link" href="tel:+905428897175">+905 428 897 175</a> -->
            <!-- </div> -->
        </div>
    </footer>