<div class="last-nav">
    <ul class="last-nav-wrap last-nav-wrap__item_banking">
        <li class="last-nav-wrap__item last-nav-wrap__item_drop">
            <a class="last-nav-wrap__link last-nav-wrap__link_banking" href="private-banking.html">Banking</a>
        </li>
        <ul class="drop-list">
            <li class="last-nav-wrap__item drop-list_link-Expat-list drop-list_link-Expat-list_start">
                <a class="last-nav-wrap__link drop-list_link drop-list_link-Expat" href="expat-banking.html">Expat
                    banking</a>
                <ul class="drop-list_link-Expat-wrap">
                    <li>
                        <a class="drop-list_link" href="how-to-become.html">How to Become</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="сredit-opportunities.html">Credit Opprtunities</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="savings-management.html">Savings Management</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="billls-payments.html">Bills and Payments</a>
                    </li>
                </ul>
            </li>
            <li class="last-nav-wrap__item drop-list_link-Expat-list drop-list_link-Expat-list_start">
                <a class="last-nav-wrap__link drop-list_link" href="private-banking.html">Private banking</a>
                <ul class="drop-list_link-Expat-wrap">
                    <li>
                        <a class="drop-list_link" href="investment-consulting.html">Investment Consulting</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="special-solutions-for-special-people.html">Special Solutions For Special People</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="private-banking-centers.html">Private Banking Centers</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="products.html"> Products</a>
                    </li>
                </ul>
            </li>
            <li class="last-nav-wrap__item drop-list_link-Expat-list drop-list_link-Expat-list_start">
                <a class="last-nav-wrap__link drop-list_link" href="corporate-banking.html">Corporate Banking</a>
                <ul class="drop-list_link-Expat-wrap">
                    <li>
                        <a class="drop-list_link" href="trade-finance.html">Trade Finance</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="cash-management.html">Cash Management</a>
                    </li>
                </ul>
            </li>
            <li class="last-nav-wrap__item drop-list_link-Expat-list drop-list_link-Expat-list_start">
                <a class="last-nav-wrap__link drop-list_link" href="commercial-banking.html">commercial banking</a>
                <ul class="drop-list_link-Expat-wrap">
                    <li>
                        <a class="drop-list_link" href="trade-finance-commercial.html">Trade Finance</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="cash-management-commercial.html">Cash Management</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="leasing.html">leasing</a>
                    </li>
                    <li>
                       <a class="drop-list_link" href="investment-consulting.html"> Investments Products</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="index.html">Insurance</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="leasing.html">Loan Products</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="leasing.html">Project Finance</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="leasing.html">Factoring</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="leasing.html">Treasure Products</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="leasing.html">Busines Card</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
    <ul class="last-nav-wrap">
        <li class="last-nav-wrap__item">
            <a class="last-nav-wrap__link" href="busines-card.html">Busines card</a>
        </li>
    </ul>
    <ul class="last-nav-wrap">
        <li class="last-nav-wrap__item">
            <a class="last-nav-wrap__link" href="wealth-management.html">wealth management</a>
        </li>
    </ul>
    <ul class="last-nav-wrap">
        <li class="last-nav-wrap__item">
            <a class="last-nav-wrap__link" href="about.html">About Us</a>
        </li>
    </ul>
    <ul class="last-nav-wrap">
        <li class="last-nav-wrap__item">
            <a class="last-nav-wrap__link" href="services.html">Services</a>
        </li>
    </ul>
    <ul class="last-nav-wrap">
        <li class="last-nav-wrap__item">
            <a class="last-nav-wrap__link" href="fees.html">Fees</a>
        </li>
    </ul>
    <ul class="last-nav-wrap">
        <li class="last-nav-wrap__item">
            <a class="last-nav-wrap__link" href="contact.html">Contact Us</a>
        </li>
    </ul>
</div>