<div class="last-nav">
    <ul class="last-nav-wrap">
        <li class="last-nav-wrap__item">
            <a class="last-nav-wrap__link" href="about.html">about us</a>
        </li>
    </ul>
    <ul class="last-nav-wrap">
        <li class="last-nav-wrap__item">
            <a class="last-nav-wrap__link" href="crypto-desk.html">Crypto</a>
        </li>
    </ul>
    <ul class="last-nav-wrap">
        <li class="last-nav-wrap__item">
            <a class="last-nav-wrap__link" href="swift.html">Dedicated IBAN</a>
        </li>
    </ul>
    <ul class="last-nav-wrap">
        <li class="last-nav-wrap__item">
            <a class="last-nav-wrap__link" href="fatca-crs.html">Fatca/CRS</a>
        </li>
    </ul>
    <ul class="last-nav-wrap last-nav-wrap__item_banking">
        <li class="last-nav-wrap__item last-nav-wrap__item_drop">
            <a class="last-nav-wrap__link last-nav-wrap__link_banking" href="private-banking.html">Banking</a>
        </li>
        <ul class="drop-list ">
            <li class="last-nav-wrap__item drop-list_link-Expat-list drop-list_link-Expat-list_start">
                <a class="last-nav-wrap__link drop-list_link" href="private-banking.html">Private banking</a>
                <ul class="drop-list_link-Expat-wrap">
                    <li>
                        <a class="drop-list_link" href="investment-consulting.html">Investment Consulting</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="special-solutions-for-special-people.html">Special Solutions For
                            Special People</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="private-banking-centers.html">Private Banking Centers</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="products.html"> Products</a>
                    </li>
                </ul>
            </li>
            <li class="last-nav-wrap__item drop-list_link-Expat-list drop-list_link-Expat-list_start">
                <a class="last-nav-wrap__link drop-list_link" href="corporate-banking.html">Corporate Banking</a>
                <ul class="drop-list_link-Expat-wrap">
                    <li>
                        <a class="drop-list_link" href="trade-finance.html">Trade Finance</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="cash-management.html">Cash Management</a>
                    </li>
                </ul>
            </li>
            <li class="last-nav-wrap__item drop-list_link-Expat-list drop-list_link-Expat-list_start">
                <a class="last-nav-wrap__link drop-list_link" href="commercial-banking.html">Commercial Banking</a>
                <ul class="drop-list_link-Expat-wrap">
                    <li>
                        <a class="drop-list_link" href="trade-finance-commercial.html">Trade Finance</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="cash-management-commercial.html">Cash Management</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="investment-consulting.html"> Investments Products</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="busines-card.html">Busines Card</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
    <ul class="last-nav-wrap last-nav-wrap__item_banking">
        <li class="last-nav-wrap__item last-nav-wrap__item_drop">
            <a class="last-nav-wrap__link last-nav-wrap__link_banking" href="wealth-management.html">Wealth Management</a>
        </li>
        <ul class="drop-list drop-list_wealth-width">
            <li class="last-nav-wrap__item drop-list_link-Expat-list drop-list_link-Expat-list_start">
                <a class="last-nav-wrap__link drop-list_link" href="investment-products.html">Investment Products</a>
                <ul class="drop-list_link-Expat-wrap drop-list_link-Expat-wrap-w-464">
                    <li>
                        <a class="drop-list_link" href="leverage-products.html">Leverage products</a>
                    </li>
                </ul>
            </li>
            <li class="last-nav-wrap__item drop-list_link-Expat-list drop-list_link-Expat-list_start">
                <a class="last-nav-wrap__link drop-list_link" href="deposit-product.html">Deposit Products</a>
                <ul class="drop-list_link-Expat-wrap drop-list_link-Expat-wrap-width">
                    <li>
                        <a class="drop-list_link" href="demand-deposit-account-wealth-managment.html">Demand Deposit
                            Account</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="saving-account.html">Savings account</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="term-deposit-account-wealth-managment.html">Term Deposit
                            Account</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="deposit-on-the-web.html">Deposit on the Web</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="deniz-account-wealth.html">Euro Deniz Account</a>
                    </li>
                    <li>
                        <a class="drop-list_link" href="fixed-deposit-account.html">Fixed Deposit Account</a>
                    </li>
                </ul>
            </li>
            <li class="last-nav-wrap__item drop-list_link-Expat-list drop-list_link-Expat-list_start">
                <a class="last-nav-wrap__link drop-list_link" href="research-reports.html">Overview of Markets</a>
                <ul class="drop-list_link-Expat-wrap drop-list_link-Expat-wrap-w-464">
                    <li>
                        <a class="drop-list_link" href="research-reports.html">Research Reports</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
    <!-- <ul class="last-nav-wrap">
        <li class="last-nav-wrap__item">
            <a class="last-nav-wrap__link" href="contact.html">Contact Us</a>
        </li>
    </ul> -->
</div>