<section class="site-map">
    <ul class="site-map-wrap">
        <li class="site-map-wrap__item site-map-wrap__item_active"><a
                class="site-map-wrap__link site-map-wrap__link_active" href="#">Banking</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Retail Banking</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Expat Banking</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Private Banking</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Business Banking</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Agriculture Banking</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Corporate Banking</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Commercial Banking</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Public Finance</a></li>
    </ul>
    <ul class="site-map-wrap">
        <li class="site-map-wrap__item site-map-wrap__item_active"><a
                class="site-map-wrap__link site-map-wrap__link_active" href="#">Loans</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Personal Loans</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Business Loans</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Agriculture Loans</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Commercial Loans</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Corporate Loans</a></li>
    </ul>
    <ul class="site-map-wrap">
        <li class="site-map-wrap__item site-map-wrap__item_active"><a
                class="site-map-wrap__link site-map-wrap__link_active" href="#">Credits Cards</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Retail Cards</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Commercial Cards</a></li>
        <li class="site-map-wrap__item site-map-wrap__item_active"><a
                class="site-map-wrap__link site-map-wrap__link_active" href="#">Human
                Resources</a></li>
    </ul>
    <ul class="site-map-wrap">
        <li class="site-map-wrap__item site-map-wrap__item_active"><a
                class="site-map-wrap__link site-map-wrap__link_active" href="#">Wealth Managements</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Investment Products</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Treasury</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Deposit Products</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Overview of Markets</a></li>
    </ul>
    <ul class="site-map-wrap">
        <li class="site-map-wrap__item site-map-wrap__item_active"><a
                class="site-map-wrap__link site-map-wrap__link_active" href="#">Insurances</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Retail</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Business</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Agriculture</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Corporate</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Commercial</a></li>
        <li class="site-map-wrap__item site-map-wrap__item_active"><a
                class="site-map-wrap__link site-map-wrap__link_active" href="#">Service Points</a></li>
    </ul>
    <ul class="site-map-wrap">
        <li class="site-map-wrap__item site-map-wrap__item_active"><a
                class="site-map-wrap__link site-map-wrap__link_active" href="#">Dijital Deniz</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">Online Banking</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">fastPay</a></li>
        <li class="site-map-wrap__item"><a class="site-map-wrap__link" href="#">MobilDeniz</a></li>
    </ul>
</section>