<nav class="nav">
    <ul class="nav-wrap">
        <li class="nav-wrap__item"><a href="about.html" class="nav-wrap__link">about us</a></li>
        <li class="nav-wrap__item"><a href="site-map.html" class="nav-wrap__link">site map</a></li>
        <li class="nav-wrap__item"><a href="fees.html" class="nav-wrap__link">fees</a></li>
        <li class="nav-wrap__item"><a href="business-card.html" class="nav-wrap__link">business card</a></li>
        <li class="nav-wrap__item"><a href="FAQ.html" class="nav-wrap__link">FAQ</a></li>
    </ul>
</nav>