@font-face {
    src: url(../font/FluxRegular.otf);
    font-family: "Flux";
}

body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: #006bb0;
    font-size: 16px;
    text-decoration: none;
}

h4 {
    color: #ce293a !important;
}
.mt-0{
    margin-top:0
}
.mt-30 {
    margin-top: 30px;
}

.mr-50 {
    margin-right: 50px;
}


.d-flex {
    display: flex;
}
.jus-cont{
    justify-content: space-between;
}
.text-color_fff{
    color:#fff;
}
.site-btn{
    background-color: #ce293a;
    padding:5px 15px;
    color:#fefefe;
    border-radius: 4px;
}
.main {
    background-color: #e2f2f5;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/home_bg.jpg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 100%
}

.nav {
    width: 995px;
    height: 40px;
    display: flex;
    align-items: center;
}

.nav-wrap {
    display: flex;
    list-style: none;
}

.nav-wrap__item {}

.nav-wrap__link {
    font-size: 13px;
    color: #0393af;
    text-decoration: none;
    padding: 14px 8px;
    text-transform: capitalize;
}

.nav-wrap__input {}

.second-nav {
    margin-top: 40px;
    display: flex;
    width: 995px;
    margin-bottom: 20px;
    position: relative;
}

.second-nav__logo {
    display: flex;
    width: 210px;
    height: 48px;
    background-image: url(../img/logo1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.second-nav-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    background-color: #fff;
}

.second-nav-search__input {
    height: 24px;
    width: 330px;
    margin-left: 10px;
    font-size: 15px;
    color: #7f7f7f;
    outline: none;
    border: none;
    outline-width: 40px;
}

.second-nav-search__input:focus {
    border: 2px solid #ffea00;
}

.second-nav-search__btn {
    border: none;
    width: 31px;
    height: 31px;
    background-image: url(../img/sprite-img.png);
    background-position-x: right;
    background-position-y: -40px;
    margin-right: 10px;
    cursor: pointer;
}

.second-nav-search__btn:active {
    background-position-x: right;
    background-position-y: -305px;
}

.internet-banking {
    border-radius: 0 0 8px 8px;
    width: 308px;
    text-align: center;
    background-color: #e0f1f4;
    border: 4px solid #fff;
    position: absolute;
    right: 0;
    top: -87px;
    height: 122px;
    transition: all .5s;
}

.internet-banking_height {
    height: 200px;
    z-index: 2;
}

.authorization {}

.authorization__input {
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 6px;
    padding: 5px 13px;
    margin-bottom: 10px;
    font-size: 17px;
    outline: none;
}

.authorization__input:focus::placeholder {
    color: transparent;
}

.authorization-block-btn {}

.authorization-block__btn {
    width: 108px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'PT Sans', tahoma, sans-serif;
    height: 42px;
    background: linear-gradient(to bottom, #db4357 0, #ce293a 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

.authorization-block__btn-close {
    background: linear-gradient(to bottom, #5a5a5a 0, #b2b2b2 100%);
}

.authorization-block__btn-enter {}

.internet-banking__header {
    margin: 0;
    padding: 0;
    color: #0393af;
    font-size: 18px;
    padding: 10px 0 11px 0;
}

.internet-banking__btn {
    width: 268px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'PT Sans', tahoma, sans-serif;
    height: 42px;
    background: linear-gradient(to bottom, #db4357 0, #ce293a 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
}

.internet-banking-repair {
    display: flex;
    margin-left: 40px;
    align-items: center;
    margin-top: 8px;
}

.internet-banking-block {
    display: flex;
    align-items: center;
}

.internet-banking__create-icon {
    display: flex;
    width: 21px;
    height: 21px;
    background-image: url(../img/sprite-img.png);
    background-position-x: left;
    background-position-y: -194px;
}

.internet-banking__create {
    font-size: 12px;
    color: #0393af;
    line-height: 18px;
    font-style: normal;
    margin-left: 5px;
}

.internet-banking__forgot-icon {
    display: flex;
    width: 21px;
    height: 21px;
    background-image: url(../img/sprite-img.png);
    background-position-x: left;
    background-position-y: -236px;
    margin-left: 30px;
}

.internet-banking__forgot {
    font-size: 12px;
    color: #0393af;
    line-height: 18px;
    font-style: normal;
    margin-left: 5px;
}

.last-nav {
    height: 42px;
    width: 995px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, #db4357 0, #ce293a 100%);
    border-radius: 6px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.last-nav-wrap {
    list-style: none;
    position: relative;
}

.last-nav-wrap__item {
    padding: 13px 15px;
}

.last-nav-wrap__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.last-nav-wrap__link_banking:hover {
    color: #D63347;
}

.last-nav-wrap__item_banking {
    position: relative;
    z-index: 3;
    top: 0px;
}

.last-nav-wrap__item_banking:hover {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-left: 2px solid #ce293a;
    border-right: 2px solid #ce293a;
    z-index: 4;
    top: 5px;
}

.last-nav-wrap__item_banking:hover>.last-nav-wrap__item_drop {
    position: relative;
    border-bottom: #fff;
    border-bottom: 2px solid #fff;
    z-index: 4;
}

.last-nav-wrap__item_banking:hover>.last-nav-wrap__item>.last-nav-wrap__link_banking {
    color: #D63347;
}

.last-nav-wrap__item_banking:hover>.drop-list {
    visibility: visible;
}

.drop-list {
    visibility: hidden;
    position: absolute;
    width: 610px;
    height: 400px;
    top: 46px;
    left: -2px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #ce293a;
    z-index: 1;
}

.drop-list_wealth-width {
    width: 425px;
}

.drop-list:hover {
    visibility: visible;
}

.drop-list:hover.last-nav-wrap__item_drop {
    border-bottom: 2px solid #fff;
    z-index: 5;
}

.drop-list_link {
    color: #5a5a5a;
    font-size: 14px;
}

.drop-list_link:hover {
    color: #000;
}

.drop-list_link-Expat:hover>ul {
    visibility: visible;
    background-color: #f5f5f5;
}

.drop-list_link-Expat-list:hover {
    background-color: #f5f5f5;
}

.drop-list_link-Expat-wrap {
    visibility: hidden;
    position: absolute;
    left: 210px;
    top: 00px;
    width: 400px;
    height: 400px;
    background-color: #f5f5f5;
    border-top-right-radius: 6px;
    list-style: inside;
    list-style-image: url(../img/list-style.png);
}

.drop-list_link-Expat-wrap>li>a:hover {
    color: #ce293a;
}

.drop-list_link-Expat-wrap-width {
    width: 215px;
    display: flex;
    flex-direction: column;
}

.drop-list_link-Expat-wrap-width>div {
    display: flex;
    flex-direction: column;
}

.drop-list_link-Expat-wrap-width>div>li {
    margin-bottom: 10px;
    margin-left: 20px;
}

.drop-list_link-Expat-wrap-w-464 {
    width: 215px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.drop-list_link-Expat-list_start:hover>ul {
    visibility: visible
}

.drop-list_link-Expat-wrap>li {
    width: 400px;
    height: 30px;
    padding-left: 20px;
    padding-top: 10px;
}

.drop-list_link-Expat-wrap-width>li {
    width: 200px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-wrap {
    margin-top: 40px;
}

.slider-wrap-block {
    width: 995px;
    height: 394px;
    display: flex;
    justify-content: space-between;
    transition: all .3s;
}

.slider-wrap-block-lelft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 370px;
}

.slider-wrap-block__header {
    font-size: 42px;
    color: #004e69;
    letter-spacing: -2px;
    font-family: "Flux";
    font-weight: 100;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 20px;
}

.slider-wrap-block__text {
    font-size: 25px;
    color: #004e69;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: -1px;
    font-family: "Flux";
    margin-bottom: 10px;
}

.slider-wrap-block__btn {
    margin-top: 20px;
    background: linear-gradient(to bottom, #D63347 0, #D63347 100%);
    border: 0;
    font-weight: bold;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    padding: 13px 20px;
    letter-spacing: -1px;
    cursor: pointer;
}

.slider-wrap-block__btn:hover {
    background-color: #004e69
}

.slider-wrap-block__img {
    align-self: flex-end;
}

.slider-wrap-block__img-large {
    width: 400px;
}

.slider-control {
    width: 995px;
    height: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    box-sizing: content-box;
    border: 3px solid #fff;
    border-radius: 100px;
    background-color: #fff;
}

.slider-control-block {
    position: relative;
    width: 10px;
    height: 10px;
    color: transparent;
    border-radius: 50%;
    border: none;
    background-color: #d3d2d2;
    border: 4px solid #fff;
    margin: 0 50px;
}

.slider-control-block:hover>.slider-control__item {
    visibility: visible;
}

.slider-control__item {
    visibility: hidden;
    background: #fff;
    color: #a7a7a7;
    border: 0;
    text-indent: 0;
    border-radius: 6px;
    width: 170px;
    height: 40px;
    padding: 0;
    font-size: 14px;
    line-height: 40px;
    position: absolute;
    left: -70px;
    top: -14px;
    cursor: pointer;
}

.slider-control__item:active {
    background: #005e78;
    border: 0;
    text-indent: 0;
    border-radius: 6px;
    width: 170px;
    height: 40px;
    padding: 0;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    left: -70px;
    top: -14px
}

.slider-control__item_active {
    visibility: visible;
    background: #005e78;
    border: 0;
    text-indent: 0;
    border-radius: 6px;
    width: 170px;
    height: 40px;
    padding: 0;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    left: -70px;
    top: -14px;
    cursor: pointer;
}

.slider-control__item_active:active {
    color: #fff;
    background-color: #ce293a;
}

.info {
    width: 995px;
    height: 277px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.info-calculator {
    display: flex;
    box-sizing: content-box;
    width: 644px;
    height: 101px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 5px solid #fff;
    border-radius: 6px;
}

.info-calculator-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-calculator-block:hover {
    background-color: #eee;
}

.info-calculator-block:nth-child(1) {
    width: 87px;
    height: 101px;
    background-color: #0498b3;
}

.info-calculator__img {
    background-image: url(../img/calculator_bg.png);
    width: 45px;
    height: 45px;
    background-position-y: center;
    background-repeat: no-repeat;
}

.info-calculator__img_1 {
    background-position-x: 12px;
}

.info-calculator__img_2 {
    background-position-x: -94px;
}

.info-calculator__img_3 {
    background-position-x: -197px;
}

.info-calculator__img_4 {
    background-position-x: -300px;
}

.info-calculator__img_5 {
    background-position-x: -406px;
}

.info-calculator-block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 38px;
}

.info-calculator__text {
    color: #0498b3;
    font-size: 13px;
    text-align: center;
}

.info-calculator__text_active {
    color: #fff;
}

.info-news {
    box-sizing: border-box;
    width: 656px;
    height: 135px;
    background-color: #f5f5f5;
    border: 5px solid #fff;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.info-news__link-header {
    color: #0498b3;
    font-size: 15px;
}

.info-news__link-text {
    color: #7f7f7f;
    font-size: 14px;
}

.info-news-control {
    display: flex;
    margin-top: 50px;
    align-self: flex-end;
}

.info-news-control__prev {
    cursor: pointer;
    background-color: transparent;
    background-image: url(../img/sprite-img.png);
    height: 10px;
    width: 5px;
    border: none;
    background-position-x: left;
    background-position-y: -160px;
}

.info-news-control__next {
    cursor: pointer;
    background-color: transparent;
    background-image: url(../img/sprite-img.png);
    height: 10px;
    width: 5px;
    border: none;
    background-position-x: -10px;
    background-position-y: -160px;
}

.info-converter {
    width: 318px;
    height: 267px;
    background-color: #f5f5f5;
    border: 5px solid #fff;
    border-radius: 6px;
    padding: 15px;
    box-sizing: border-box;
}

.info-converter-row {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ce293a;
    margin-bottom: 5px;
}

.info-converter-row__name {
    color: #0393af;
    font-weight: bold;
}

.info-converter-row__value {
    color: #0393af;
    font-weight: bold;
}

.info-converter-crypto-row {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ce293a;
    margin-bottom: 5px;
}

.info-converter-crypto-row__name {
    color: #0393af;
    font-weight: bold;
}

.info-converter-crypto-row__value {
    color: #0393af;
    font-weight: bold;
}

.section-index {
    width: 995px;
    margin: 0px 0px 20px 0;
    padding-bottom: 50px;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
}

.famagusta-wrap {
    margin-left: 20px;
    padding-top: 20px
}

.famagusta-wrap__item {
    padding: 10px 0;
}

.index-img {
    width: 50%;
    display: block;
    padding-left: 20px;
}

.site-map {
    display: flex;
    width: 995px;
    margin-bottom: 50px;
}

.site-map-wrap {
    list-style: none;
    margin-right: 50px;
}

.site-map-wrap__item {
    margin-bottom: 3px;
}

.site-map-wrap__item_active {
    margin: 15px 0;
}

.site-map-wrap__link {
    color: #7f7f7f;
    font-size: 14px;
}

.site-map-wrap__link_active {
    color: #0498b3;
    font-size: 16px;
}

.footer-nav {
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: center;
    background-color: #5ebac8
}

.footer-nav-wrap {
    display: flex;
    width: 995px;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.footer-nav-wrap__link {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}

.footer-nav-wrap__link:hover {
    color: #ce293a;
}

.footer {
    height: 115px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    width: 995px;
}

.footer-block-left {
    margin-top: 15px;
}

.footer-block-left__text {
    color: #000;
    font-size: 12px;
}

.footer-block-link {
    margin-top: 25px;
    display: flex;
    margin-bottom: 25px;
}

.footer-block__link {
    display: flex;
    width: 30px;
    height: 30px;
    background-image: url(../img/ft_social_bg.png);
    background-repeat: no-repeat;
    background-position-y: top;
    border-radius: 50%;
    margin-right: 5px;
}

.footer-block__link_1 {
    background-position-x: left;
}

.footer-block__link_2 {
    background-position-x: -30px;
}

.footer-block__link_3 {
    background-position-x: -60px;
}

.footer-block__link_4 {
    background-position-x: -90px;
}

.footer-block-right {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-block-right__text {
    font-size: 16px;
    font-weight: 600;
    color: #0393af;
}

.footer-block-right__link {
    font-size: 20px;
    font-weight: 900;
    color: #0393af;
}

/*-------------------------about-------------------------------------------*/

.box {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.section {
    width: 995px;
    margin: 30px 0;
    padding: 5px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.section__header {
    background-color: #52bac8;
    border-radius: 3px 3px 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.section__header-text {
    padding: 25px 5px 25px 15px;
    font-family: 'FluxLineBold', tahoma;
    font-size: 38px;
    letter-spacing: -1px;
    font-weight: normal;
    color: #fff;
}

.section__nav {
    list-style-type: none;
    padding: 10px 15px;
    border-radius: 0 0 3px 3px;
    background: #63c1cc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.section__nav-item {
    overflow: visible;
    position: relative;
    margin-right: 24px;
    font-family: tahoma, sans-serif;
    line-height: 13px;
    font-size: 11px;
    color: #def1f3;
}

.section__nav-item::after {
    content: ">";
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    text-decoration: none;
    line-height: 13px;
    font-size: 11px;
    color: #def1f3;
    color: #fff;
}

.section__nav-item>a {
    text-decoration: none;
    font-family: tahoma, sans-serif;
    line-height: 13px;
    font-size: 11px;
    color: #def1f3;
}
.about-us__text-block {
    padding: 20px 15px;
}

.about-us__text-block-img {
    float: right;
    padding-left: 12px;
}

.about-us__text-block-header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: 'FluxLineRegular', tahoma;
    font-weight: normal;
    font-size: 31px;
    line-height: 32px;
    color: #0393af;
    margin-top: 0px;
}

.about-us__text {
    margin-bottom: 15px;
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    color: #6c6d6f;
}

/*-------------------------------------services----------------------------*/

.services {
    width: 995px;
    padding-bottom: 30px;
}

.services-block {
    display: flex;
}

.services-block_mr-25 {
    margin-right: 25px;
}

.services__header {
    color: #0393af;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 18px;
}

.services__text {
    display: flex;
    color: #6c6d6f;
    font-size: 16px;
    margin-right: 15px;
}

.services__img {
    display: flex;
    margin: 0px;
    min-width: 300px !important;
    height: 242px;
    float:left;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.services-block-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 30px;
    font-size: 12px;
}

/*---------------------------------------FEES------------------------------*/

.fees-bg {
    background-image: none;
}

.fees-table {
    margin-top: 30px;
    width: 955px;
    margin-left: 15px;
    margin-bottom: 30px;
    border: 1px solid #82CFD7;
    border-bottom: transparent;
}

.fees-table-row {
    display: flex;
    border-bottom: 1px solid #82CFD7;
}

.fees-table-row__item {
    width: 34%;
    display: flex;
    padding: 10px 5px;
    box-sizing: border-box;
}
.contact-table-colored-item{
    background-color: #82CFD7;
}
.fees-table-row__item_width-100 {
    width: 100%
}

.fees-table-row__item_header {
    font-weight: bold;
}

.fees-table-row__item_text-center {
    justify-content: center;
}

.fees-table-row__item_grow {
    flex-grow: 1;
}

.fees-table-row__item_border-right {
    border-right: 1px solid #82CFD7;
}

.fees__text_margin-25 {
    margin: 25px;
}

.header__caption {
    color: #0393af;
    text-transform: uppercase;
    width: 955px;
}

.fees-table-line__text {
    display: flex;
    width: 50%;
    height: 100%;
    border-right: 1px solid #52bac8;
    align-items: center;
    padding-left: 10px;
    color: #004f5f
}

.fees-table-line__second-text {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    font-weight: bold;
}

.fees-account {
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #0393af;
}

.fees-second-table__caption {
    display: flex;
    font-size: 17px;
    color: #0393af;
    margin-bottom: 10px;
}

/*------------------------------------contact------------------------------------------*/

.contact-bg {
    background-image: none;
}

.block-caption {
    width: 995px;
}

.block-caption__h1 {
    color: #0393af;
}

.block-caption__text {
    color: #0393af;
    margin-left: 15px;
}

.block-caption__btn {
    margin-top: 10px;
    background: linear-gradient(to bottom, #db4357 0, #ce293a 100%);
    color: #fff;
    height: 40px;
    width: 160px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}

.block-caption__btn:hover {
    background: linear-gradient(to bottom, #ce293a 0, #db4357 100%);
}

.phone-contain {
    width: 995px;
    display: flex;
    margin-left: 15px;
}

.contact-phone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
    width: 280px;
    height: 200px;
    background-color: #e7e3e3;
    border: 2px solid #fffdfd;
    padding: 15px;
    border-radius: 6px;
    align-self: flex-start;
}

.phone-corporate {
    display: flex;
    flex-direction: column;
}

.phone-contact__text {
    font-size: 24px;
    color: #0393af;
}

.phone-contact__link {
    font-size: 24px;
    color: #006bb0
}

.phone-personal {
    display: flex;
    flex-direction: column;
}

.form {
    margin-top: 40px;
    width: 980px;
    margin-left: 15px;
}

.form-block {
    margin-bottom: 30px;
    width: 980px;
    display: flex;
}

.form-block__input {
    width: 250px;
    height: 30px;
    padding: 7px 15px;
    font-size: 15px;
    color: #0393af;
    border: none;
    border-radius: 6px;
    outline: none;
    margin-right: 30px;
    background-color: #e7e3e3;
    border: 3px solid #d2d2d2;
}

.form-textarea {
    width: 900px;
    padding: 30px;
    font-size: 15px;
    color: #0393af;
    border: 3px solid #d2d2d2;
    border-radius: 6px;
    outline: none;
    resize: none;
    background-color: #e7e3e3;
}

.form-send {
    margin: 10px 0;
}

.form-send__text {
    color: #0393af;
    font-size: 14px;
}

.form-send__dynamic-text {
    color: #0393af;
    font-size: 17px
}

.form__submit {
    width: 100px;
    height: 40px;
    background: linear-gradient(to bottom, #db4357 0, #ce293a 100%);
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 30px;
}

.form__submit:hover {
    background: linear-gradient(to bottom, #ce293a 0, #db4357 100%);
}

.busines-card-content {
    padding: 20px 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.busines-card-content__image-contanier {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.busines-card-content__header {
    margin-top: 20px;
    font-family: 'FluxLineRegular', tahoma;
    font-weight: normal;
    font-size: 31px;
    line-height: 32px;
    color: #0393af;
}

.busines-card-content__slogan {
    margin-top: 15px;
    font-family: 'FluxLineRegular', tahoma;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 0;
}

.busines-card-content__text-block {
    margin-top: 10px;
}

.busines-card-content__text {
    margin: 10px 0;
    font-family: tahoma, sans-serif;
    font-size: 12px;
    color: #6c6d6f;
}

.wealth-management-content {
    padding: 20px 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.wealth-management__image-contanier {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.wealth-management__header {
    margin-top: 20px;
    padding: 5px;
    font-family: 'FluxLineRegular', tahoma;
    font-weight: normal;
    font-size: 31px;
    line-height: 32px;
    color: #0393af;
}

.wealth-management__slogan {
    margin-top: 15px;
    padding: 5px;
    font-family: 'FluxLineRegular', tahoma;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 0;
}

.mt-0 {
    margin-top: 0;
}

.width-block-news_link {
    display: block;
    border-bottom: 2px solid #ce293a
}

.width-block-news_link:hover {
    border-bottom: 2px solid #0393af;
}

.width-block-news_link:hover>h4 {
    color: #ce293a;
}

.deposit-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
}

.deposit-table-item {
    width: 195px;
    height: 160px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.deposit-table-item:nth-last-child(1) {
    flex-grow: 2;
}

.deposit-table-link {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.deposit-table__img {
    width: 195px;
    height: 110px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.deposit-table-link:hover .deposit-table__text {
    color: #ce293a;
}

.deposit-table-block-text {
    display: flex;
    min-height: 34px;
    justify-content: space-between;
    align-items: center;
    background-color: #67C1CC;
    padding: 2px 5px;
    box-sizing: border-box;
    font-size: 12px;
    width: 195px;
    line-height: 13px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.deposit-table__text {
    color: #fff;
    text-transform: capitalize;
    display: inline-flex;
    transition: all .5s;
}

.deposit-table__icon {
    width: 19px;
    height: 19px;
}
.mt-30 {
    margin-top: 30px;
}